# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Sensitive files
.env
google-credentials.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

google_secret_key.json
google-credentials.json
googleapi.json